.ApplicationItem {
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 2px 2px silver;
  padding: 10px;
  margin: 0 auto;
  width: min(100%, 1200px);
}

.application-buttons {
  margin-bottom: 10px;
}

.application-buttons button {
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.application-buttons input[type="file"]::file-selector-button {
  padding: 5px;
  cursor: pointer;
}

.left-arrow {
  display: none;
}

.receipt-button {
  display: flex;
  flex-direction: column;
}

.application-middle {
  display: grid;
}

.application-middle td:first-child {
  font-weight: bold;
}

.table-divider {
  display: none;
}

@media only screen and (min-width: 576px) {
  .application-middle {
    grid-template-columns: 1fr auto 1fr;
  }

  .table-divider {
    display: block;
    content: "";
    width: 5px;
    height: 100%;
    background-color: var(--primary-color);
    margin: 0 20px;
    border-radius: 3px;
  }
}

@media only screen and (min-width: 768px) {
  .application-buttons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  .application-buttons button {
    margin-bottom: 0;
  }

  .left-arrow {
    display: inline;
  }

  .up-arrow {
    display: none;
  }

  .receipt-button {
    flex-direction: row;
    align-items: center;
  }
}
