* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f9f9;
  --primary-color: #a4ebf3;
  --secondary-color: #ccf2f4;
  --font-color: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="file"],
select {
  cursor: pointer;
}
