.ApplicationDetailTab {
  position: relative;
}

.reviewer-back-button {
  text-align: right;
  padding: 10px;
}

.reviewer-back-button button,
.reviewer-status-button button {
  padding: 5px;
  cursor: pointer;
}

.ReviewerDetailTab .applicant-main-top {
  margin-bottom: 10px;
}

.application-detail-top,
.application-detail-bottom,
.send-application {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
}

.application-detail-top tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.application-detail-bottom,
.send-application,
.remarks-wrapper {
  margin-top: 20px;
}

.application-detail-bottom,
.application-remarks,
.reviewer-remarks {
  border: 1px solid var(--primary-color);
}

.requirement-list div {
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

.requirement-list div:hover {
  background-color: var(--secondary-color);
}

.document-photo-container {
  background-color: var(--secondary-color);
}

.document-photo-container div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.document-photo-container img {
  width: 100%;
  margin: auto 0;
}

.send-application button {
  width: 150px;
}

.remarks-wrapper {
  display: grid;
  gap: 20px;
  max-width: 1600px;
}

.application-remarks {
  min-height: 200px;
  padding: 10px;
}

.application-remarks .remarks {
  margin-top: 10px;
}

.reviewer-remarks {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviewer-input-group {
  width: 100%;
  display: grid;
  grid-template-columns: 130px auto;
  gap: 10px;
}

.reviewer-input-group label {
  text-align: right;
  width: 100%;
}

.reviewer-input-group select,
.reviewer-input-group textarea {
  width: 100%;
}

.reviewer-status-button button {
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  .ReviewerDetailTab {
    padding: 20px;
  }

  .reviewer-back-button {
    padding: 0 0 10px 10px;
  }

  .application-detail-top {
    grid-template-columns: 1fr auto 1fr;
  }

  .application-detail-bottom {
    grid-template-columns: clamp(200px, 30%, 400px) 1fr;
  }

  .remarks-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto 0 auto;
  }
}
